*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body {
    background-color: antiquewhite;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

#navbar{
  padding: 20px;
  overflow: hidden;
  background-color:rgba(215, 206, 195, 0.665);
  text-decoration: none;
}

.hidden {
opacity: 0;
transition: all 5s;
}

.show {
opacity: 1;

}

section {
    min-height: 100vh;
    scroll-snap-align: start;
 
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  
}

h1 {
  font-family: Microsoft Himalaya;
  text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.229);
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 1.0rem;
  outline: none;
  text-align: center;
 

}

h5 {
  padding-top: 40px;
}

h6 {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: auto;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 8px;
}

a {
  color: black;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}



p {
  padding-top: 30px;
  padding-bottom: 70px;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 3px #e3ba84;
  
}

.btn {
  height: 25px;
}

img {
  border-radius: 25px;
  
}

.imghover {
  transition: transform .2s;
}

.imghover:hover {
  transform: scale(1.2);
}

.wrapper-main {
  width: 100%;
  max-width: 1000px;;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.one {
  background-color: antiquewhite;
}

.two {
  background-color: rgb(255, 245, 232);
  padding-top: 100px;
}

.three {
  background-color: rgb(239, 229, 217);
  padding-top: 100px;
}

.final {
  background-color: antiquewhite;
}

.row {
  padding-top:100px ;
}